.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  background: url("../img/backgrounds/header-bg.jpg") no-repeat;
  background-size: cover;

  h1 {
    margin-top: 80px;
    .OpenSans-Bold;
    font-size: 30px;
    color: @gray-text;
  }

  h2 {
    margin: 15px 0 50px 0;
    .OpenSans-Bold;
    font-size: 20px;
    color: #fff;
  }

  span {
    .Roboto-Light;
    font-size: 10px;
    color: #fff;
  }
}


@media @desktop {

  .main-header {
    min-height: 1012px;

    h1 {
      margin-top: 300px;
      font-size: 100px;
    }

    h2 {
      margin: 15px 0 60px 0;
      font-size: 50px;
    }

    span {
      font-size: 24px;
    }
  }
}
